@import '../../mixins';

.query {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(187, 186, 186);
    font-size: 1.2rem;

    @include md {
        font-size: 1.3rem;
    }
}